@font-face {
    font-family: 'Copperplate';
    src: url('../fonts/Copperplate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fet';
    src: url('../fonts/Fet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vivl_Rail';
    src: url('../fonts/Vivl_Rail.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SonyEricssonLogo';
    src: url('../fonts/SonyEricssonLogo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    color: burlywood;
    font-family: SonyEricssonLogo, serif;
}

h1 {
    font-family: Vivl_Rail, serif;
    font-weight: normal;
    font-size: 3rem;
    margin: 35px auto 7px;
}

hr {
    width: 45%;
    height: 1px;
    margin: 3px auto;
    padding: 0;
    outline: none;
    border: none;
    background-color: burlywood;
}

#underline_quote {
    font-family: Fet, serif;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}



.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #062d3e;
    justify-content: center;
    align-content: center;
}

header, footer { display: flex; }

h3, header, footer, legend {
    font-family: Copperplate, serif;
}

header {
    justify-content: center;
    font-size: 0.75rem;
}

footer {
    justify-content: space-between;
    font-size: 0.87rem;
}

.inner-container {
    display: grid;
    width: 90vw;
    height: 87vh;
    background-color: rgba(5, 18, 21, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(10, 86, 119, 0.7);
    align-content: start;

    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "H H H"
        "N A A";
}

.inner-header {
    grid-area: H;
    align-self: start;
}

nav {
    grid-area: N;
}

nav:hover {
    border-color: rgba(30, 117, 16);
}

article {
    grid-area: A;
}

span {
    cursor: pointer;
    color: darkkhaki;
}

span:hover {
    color: #21a4a8;
    box-shadow: 0 0 2px 2px rgb(209, 168, 86, 0.2);
    border-radius: 4px;
}


